section.about
  .container
    .about-wrapper
      .about-img
        img(
          class="about-img__image",
          src="../img/svg/illustrations/about.svg",
          alt="Illustration"
        )
      .about-info
        h3.about-info__suptitle What Is Covid-19
        h1.about-info__title Coronavirus
        p.about-info__description
          | Corona viruses are a type of virus. There are many different kinds,
          | and some cause disease. A newly identified type has caused a recent
          | outbreak of respiratory illness now called COVID-19.Lauren Sauer,
          | M.S., the director of operations with the Johns Hopkins Office
          | of Critical Event Preparedness and Response.
        button(class="about-info__button", type="button") Learn more
      img(
        class="about__figure",
        src="../img/svg/icons/virus-group.svg",
        alt="Illustration"
      )