-
  var linkInfo = [
    {"title": "Overview", "href": "#about"},
    {"title": "Contagion", "href": "#contagion"},
    {"title": "Symptomps", "href": "#symptomps"},
    {"title": "Prevention", "href": "#actions"}
  ];

-
  var socialInfo = [
    {
      "path": "../img/svg/social/facebook.svg",
      "link": "https://www.facebook.com",
      "social": "Facebook"
    },
    {
      "path": "../img/svg/social/youtube.svg",
      "link": "https://www.youtube.com",
      "social": "YouTube"
    },
    {
      "path": "../img/svg/social/vimeo.svg",
      "link": "https://vimeo.com",
      "social": "Vimeo"
    },
    {
      "path": "../img/svg/social/twitter.svg",
      "link": "https://twitter.com",
      "social": "Twitter"
    }
  ];

footer.footer#footer
  .container
    nav.footer-nav
      a(class="footer-block__link", href="/")
        img(class="footer-block__logo", src="../img/svg/logo.svg", alt="Logo")
      ul.nav-list
        each link in linkInfo
          li.nav-list__item
            a(class="nav-list__link", href=link.href) #{link.title}
      .social
        each social in socialInfo
          a(class="social__link", href=social.link, target="_blank")
            img(class="social__icon", src=social.path, alt=social.social)
    .footer-block
      span.footer-block__disclaimer
        | 2020 @ All rights reserved by
        | <a class="footer-block__link" href="http://www.pixelspark.co" target="_blank">pixelspark.co</a>