-
  var linkInfo = [
    {"title": "Overview", "href": "#about"},
    {"title": "Contagion", "href": "#contagion"},
    {"title": "Symptomps", "href": "#symptomps"},
    {"title": "Prevention", "href": "#actions"}
  ];

header.header#header
  .container
    nav.header-nav
      a(class="header-nav__link", href="/")
        img(class="header-nav__logo", src="../img/svg/logo.svg", alt="Logo")
      ul.nav-list
        each link in linkInfo
          li.nav-list__item
            a(class="nav-list__link", href=link.href) #{link.title}
        button(
          class="nav-list__button",
          type="button",
          onclick="location.href='https://www.who.int/about/who-we-are/contact-us'"
        ) Contact
        img(class="nav-list__close-button", src="../img/svg/icons/close-icon.svg", alt="Close")
      .nav-burger
        - for (var i = 0; i < 3; i++)
          span.nav-burger__item
    .header-content
      .content-info
        h3.content-info__suptitle COVID-19 Alert
        h1.content-info__title Stay at home quarantine to stop corona virus
        p.content-info__description
          | There is no specific medicine to prevent or treat coronavirus
          | disease (COVID-19). People may need supportive care to.
        button(
          class="content-info__button",
          type="button",
          onclick="location.href='https://www.greenpeace.org/international/story/29371/11-simple-ways-to-care-for-each-other-during-the-covid-19-coronavirus-pandemic/'"
        ) Let us help
      .content-img
        img(
          class="content-img__image",
          src="../img/svg/illustrations/header.svg",
          alt="Illustration"
        )