section.stats#stats
  .container
    .stats-wrapper
      .stats-map
        img(class="stats-map__item", src="../img/svg/map.svg", alt="Map")
      .stats-block
        .block-header
          h2.block-header__title Live reports
          .block-elements
            img(
              class="block-elements__arrow",
              src="../img/svg/icons/arrows/arrow-left.svg",
              alt="Arrow"
            )
            img(
              class="block-elements__arrow",
              src="../img/svg/icons/arrows/arrow-right.svg",
              alt="Arrow"
            )
        .block-content