section.stats
  .container
    .stats-wrapper
      .stats-map
        img(class="stats-map__item", src="../img/svg/map.svg", alt="Map")
      .stats-block
        .block-header
          h2.block-header__title Live reports
          .block-elements
            img(
              class="block-elements__arrow",
              src="../img/svg/icons/arrows/arrow-left.svg",
              alt="Arrow"
            )
            img(
              class="block-elements__arrow",
              src="../img/svg/icons/arrows/arrow-right.svg",
              alt="Arrow"
            )
        .block-content
          .content-item
            .item__wrapper
              img(
                class="content-item__flag",
                src="../img/svg/icons/flag.svg",
                alt="Flag"
              )
              span.content-item__country USA
            .item__wrapper
              span.item__value 1343235
              img(
                class="item__arrow",
                src="../img/svg/icons/arrows/red-arrow.svg",
                alt="Arrow"
              )
          .content-item
            .item__wrapper
              img(
                class="content-item__flag",
                src="../img/svg/icons/flag.svg",
                alt="Flag"
              )
              span.content-item__country Germany
            .item__wrapper
              span.item__value 345612
              img(
                class="item__arrow",
                src="../img/svg/icons/arrows/green-arrow.svg",
                alt="Arrow"
              )