section.subscribe#subscribe
  .container
    .subscribe__wrapper
      .subscribe-block
        h1.subscribe-block__title Have Question in mind? Let us help you
        form.subscribe-form
          .form-group
            input(
              class="subscribe-form__input"
              type="text"
              placeholder="example@gmail.com"
            )
            button.subscribe-form__submit Send
      img(
        class="subscribe-block__virus-group"
        src="../img/svg/icons/viruses/virus-group-3.svg"
        alt="Virus"
      )